<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h1>Sus cuentas Test</h1>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>iban - {{item.iban}}</h3>
      <h3>Balance - {{item.Balance}}</h3>
    </template>

    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          },iban: {
            type: String
          }, userID: {
            type: Number
          }, Balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        /* this.iban = data.detail.response[0].iban;
        this.userID = data.detail.response[0].userID;
        this.Balance = data.detail.response[0].Balance; */
        this.accounts = data.detail.response;
        }

    }


    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
