<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Aqui no hay nada que ver</h1>

    <!--
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login">Login</button>

     <span hidden$="{{!logged}}">Bienvenido a casa Johnny</span>
     <iron-ajax
        id="doLogin"
        method="POST"
        url="http://localhost:3000/apitechu/v2/login"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {

        };
      }

    }


    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
